/****** General ***********/
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    color: black;
    font-family: var(--text-font);
    box-sizing: border-box;
}

:root {
    --main-color: #9356DC;
    --main-bg-color: #FF79DA;
    --filter-bg-color: #99E2D0;
    --title-font: 'Shrikhand', cursive;
    --text-font: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 1440px;
    min-width: 320px;
}

.button-wrapper {
    display: flex;
    margin-top: 32px;
}

.button {
    display: flex;
    border-radius: 25px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    background: linear-gradient(var(--main-bg-color), var(--main-color));
    color: white;
    font-weight: 500;
    font-size: 16px;
    height: 50px;
    width: 186px;
    justify-content: center;
    align-items: center;
}

.button:hover {
    opacity: 0.85;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.35);
}

/****** Header ***********/
.header-container {
    display: flex;
    width: 100%;
    align-items: center;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    z-index: 1;
    position: relative;
    justify-content: center;
    padding-top: 14px;
    padding-bottom: 13px;
}

.logo-container {
    display: flex;
    align-items: center;
    padding-left: 16px;
    padding-right: 19px;
    height: 36px;
}

.logo-container h1{
    font-size: 30px;
    font-family: var(--title-font);
    font-weight: 400;
}

/****** Main ***********/
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F6F6F6;
}

.main-container h2 {
    font-size: 24px;
}

/****** Location ***********/
.my-location {
    background-color: #EAEAEA;
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    column-gap: 17px;
    align-items: center;
    justify-content: center;
}

.my-location p {
    font-weight: 500;
    font-size: 16px;
}

/****** Service-infos ***********/
.service-infos {
    padding: 40px 30px 56px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.service-infos_title {
    padding: 0 20px 10px;
    display: flex;

}

.service-infos_content p {
    font-size: 18px;
    font-weight: 300;
}

/****** User-guide ***********/
.user-guide {
    padding: 48px 20px 68px;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
}

.user-guide_title {
    padding-bottom: 26px;
}

.user-guide_content {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.user-guide_steps {
    position: relative;
    display: flex;
    width: 100%;
}

.cercle {
    position: absolute;
    background-color: var(--main-color);
    border-radius: 50%;
    height: 24px;
    width: 24px;
    top: calc(50% - 12px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cercle p {
    color: white;
    font-size: 14px;
}

.steps-content {
    height: 72px;
    background-color: #F6F6F6;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    margin-left: 12px;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    width: 100%;
    align-items: center;
}

.steps-content .fa-solid {
    color: #7E7E7E;
    margin-right: 20px;
    margin-left: 34px;
}

.steps-content .fa-mobile-screen-button {
    padding-right: 7.5px;
}

.steps-content .fa-list-ul {
    padding-right: 2.5px;
}

.steps-content .fa-store {
    color: var(--main-color);
}

/****** Restaurants-list ***********/
.restaurants-list {
    padding: 54px 20px 66px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.restaurants-list_title {
    margin-bottom: 19px;
}

.restaurants-list_content {
    display: flex;
    row-gap: 18px;
    flex-direction: column;
    align-items: center;
}

.restaurants-card {
    max-width: 490px;
    border-radius: 15px;
    background-color: white;
    position: relative;
    width: 100%;
}

.restaurants-card img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
    object-position: bottom;
    height: 174px;
    vertical-align: bottom;
    width: 100%;

}

.restaurants-card_content {
    padding: 16px 25px 12px 13px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.restaurants-card_txt h3 {
    font-size: 18px;
    font-weight: 700;
    height: 20px
}

.restaurants-card_txt p {
    font-size: 17px;
    font-weight: 300;
    margin-top: 5px;
    padding-bottom: 4px;
}

.heart-icon {
    padding-top: 5px;
    font-size: 21px;
}

.heart-icon .strokeHeart {
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
    opacity: 1;
}

.heart-icon .fillHeart {
    color: transparent;
    background: linear-gradient(var(--main-color), var(--main-bg-color));
    -webkit-background-clip: text;
    background-clip: text;
    opacity: 0;
}

.heart-icon:hover .fillHeart,
.heart-icon:hover .strokeHeart {
    transition: opacity, 1s;
}

.heart-icon:hover .fillHeart {
    opacity: 1;
}

.heart-icon:hover .strokeHeart {
    opacity: 0;
}

.heart-icon .fa-solid {
    color: transparent;
}

.new-button {
    position: absolute;
    border-radius: 2px;
    background: var(--green, #99E2D0);
    width: 80px;
    height: 29px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    color: #008766;
    border: none;
    right: 12px;
    top: 13px;
    font-size: 14px;
    text-align: center;
    padding-top: 7px;
}

/****** Footer ***********/
.footer-container {
    display: flex;
    background-color: #353535;
    padding: 22px 25px;
    flex-direction: column;
    row-gap: 16px;
}

.footer-logo p {
    font-family: var(--title-font);
    font-size: 18px;
    color: white;
}

.footer-infos {
    display: flex;
    flex-direction: column;
    row-gap: 7px;
}

.footer-infos a {
    color: white;
    font-size: 16px;
}

.footer-infos i {
    color: white;
}

.footer-infos .fa-solid {
    width: 22px;
}